footer.main-footer
    .wrap-conteiner.content-center
        .top-text
            .left-content 
                a.logo(href="/") 
                    img(src="./public/images/logo.svg", alt="logo")
                    span HKinvision
                .motto The World's Best Luxury Car’s Dealing Platform
            .right-content  
                .footer-menu 
                    .list 
                        h6 Company
                        ul  
                            li 
                                a(href="#") About Us
                            li 
                                a(href="#")  Product
                            li 
                                a(href="#") Testimonial
                    .list 
                        h6 Support
                        ul  
                            li 
                                a(href="#")  FAQ
                            li 
                                a(href="#")  Privacy Policy
                            li 
                                a(href="#")  Terms of Services
                    .list 
                        h6 Category
                        ul  
                            li 
                                a(href="#")  Super Cars
                            li 
                                a(href="#")  Sport Cars
                            li 
                                a(href="#")  More Cars
                .social 
                    a(href="#") 
                        i.icon-instagram
                        span Instagram 
                    a(href="#") 
                        i.icon-twitter
                        span Twitter
                    a(href="#")  
                        i.icon-facebook
                        span Facebook

    .bottom-text ©2022 HKInvestor. All right reserved 

