header.main-header 
    .wrap-content.content-center 
        a.logo(href="/") 
            img(src="./public/images/logo.svg", alt="logo")
        .wrap-menu
            nav 
                ul      
                    li 
                        a(href="#") Home
                    li 
                        a(href="#") Cars
                    li 
                        a(href="#") Book now
                    li 
                        a(href="#") Terms and Conditions
            a.menu-btn(href="#") 
                +Button('Manage Booking','is-primary')
                   
