* {
    box-sizing: border-box;
}

body {
    background-color: $primaryBackground;
    font-family: $mainFonts;
    color: $primaryTextColor;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $primaryTextColor;
    transition: all 0.3s ease-out;
}

i {
    display: inline-block;
}

h2 {
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.006em;
}

h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.006em;
}

h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

p {
    font-size: 16px;
    line-height: 28px;
    opacity: 0.8;
}
.content-center {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.button {
    padding: 12px 24px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    transition: all 300ms ease-in-out;
    &.is-primary {
        background: $secondaryColor;
        color: $primaryTextColor;
        &:hover {
            background-color: #f46804e8;
        }
    }
    &.is-border {
        background: transparent;
        border: 1px solid #ee8313;
        color: $secondaryColor;
        &:hover {
            color: #f46804e8;
            border: 1px solid #f46804e8;
        }
    }
}

.main-header {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .wrap-menu {
        display: flex;
        align-items: center;
        max-width: 742px;
        width: 100%;
        nav {
            ul {
                display: flex;
                li {
                    margin-left: 50px;
                    &:first-child {
                        margin-left: 0px;
                    }
                    a {
                        transition: all 300ms ease-in-out;
                        &:hover {
                            color: $secondaryColor;
                        }
                    }
                }
            }
        }
        .menu-btn,
        .button {
            max-width: 184px;
            width: 100%;
        }
        .menu-btn {
            margin-left: 78px;
        }
    }
}

main {
    margin-top: 166px;
}

.home-hero {
    position: relative;
    .banner {
        max-width: 590px;
        p {
            margin-top: 32px;
            margin-bottom: 48px;
            max-width: 473px;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
            max-width: 350px;
            a {
                &.is-primary {
                    max-width: 119px;
                }
                &.is-border {
                    max-width: 200px;
                }
            }
        }
        .features {
            display: flex;
            margin-top: 40px;
            .text {
                font-size: 40px;
                line-height: 52px;
                margin-left: 40px;
                &:first-child {
                    margin-left: 0px;
                }
                span {
                    font-size: 16px;
                    line-height: 24px;
                    margin-left: 16px;
                }
            }
        }
    }
    img {
        position: absolute;
        bottom: -211px;
        right: -89px;
    }
}

.rent-section {
    margin-top: 187px;
    h2 {
        text-align: center;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        .car-item {
            max-width: 584px;
            width: 100%;
            height: 100%;
            min-height: 524px;
            background-image: url(../../public/images/car.png);
            background-size: cover;
            margin-bottom: 32px;
            padding: 48px 90px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 300ms ease-in-out;
            a {
                text-align: right;
                i {
                    transform: rotate(-180deg);
                    margin-left: 18px;
                    color: #ffcc2c;
                    font-size: 14px;
                }
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.services-section {
    margin-top: 120px;
    .cards {
        margin-top: 66px;
        display: flex;
        justify-content: space-between;
        .info-car {
            max-width: 384px;
            img {
                width: 100%;
                height: 360px;
                object-fit: cover;
                margin-bottom: 24px;
            }
            p {
                margin-top: 16px;
            }
        }
    }
}

.destination-section {
    margin-top: 120px;
    h2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 591px;
        margin-bottom: 40px;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .destination-card {
            max-width: 384px;
            cursor: pointer;
            margin-bottom: 24px;
            img {
                width: 100%;
                display: flex;
            }
            .body {
                background: #131313;
                padding: 24px;
                p {
                    margin-top: 10px;
                    margin-bottom: 25px;
                }
                .price {
                    display: flex;
                    align-items: center;
                    margin-bottom: 17px;
                    i {
                        margin-right: 19px;
                    }
                    span {
                        line-height: 28px;
                    }
                }
                a {
                    color: $secondaryColor;
                    line-height: 28px;
                    &:hover {
                        color: #f46804e8;
                    }
                }
            }
        }
    }
}

.location-section {
    margin-top: 162px;
    text-align: center;
    h2 {
        margin-bottom: 40px;
    }
    img {
        width: 1200px;
        height: 524px;
    }
}

.main-footer {
    margin-top: 102px;
    background: #1f1905;
    .wrap-conteiner {
        .top-text {
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            .left-content {
                .logo {
                    display: flex;
                    align-items: center;
                    margin-bottom: 64px;
                    span {
                        margin-left: 17px;
                    }
                }
                .motto {
                    font-size: 18px;
                    line-height: 32px;
                    max-width: 235px;
                }
            }
            .right-content {
                display: flex;
                margin-top: 40px;
                .footer-menu {
                    display: flex;
                    flex-direction: row;
                    .list {
                        margin-left: 73px;
                        &:first-child {
                            margin-left: 0px;
                        }
                        ul {
                            margin-top: 32px;
                            opacity: 0.8;
                            font-size: 16px;
                            line-height: 20px;
                            li {
                                margin-top: 28px;
                                &:first-child {
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
                .social {
                    display: flex;
                    flex-direction: column;
                    margin-left: 70px;
                    text-align: right;
                    color: #ffff;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;
                    cursor: pointer;
                    a {
                        margin-top: 50px;
                        &:first-child {
                            margin-top: 0px;
                        }
                        i {
                            margin-right: 19px;
                        }
                    }
                }
            }
        }
    }
    .bottom-text {
        background-color: $secondaryColor;
        width: 100%;
        margin-top: 66px;
        padding: 20px 0;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }
}
