mixin DestinationCard(title,price, text )
    .destination-card 
        img(src="./public/images/destination.png", alt="")
        .body 
            h5=title
            p Car hire in 75 pick-up locations 
            .price 
                i.icon-car
                span=price
            a(href="#")=text